/* RESET */

* {
     margin: 0;
    font-family: sans-serif;
    
}

body {
   background-color: #020304;
}

/* Menu */

header {
    width: 100%;
    background-color: #171a1d;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li :hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: #171a1d;
        width: 100%;
        margin-left: -100%;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}

/* INTRO */

.container {
    width: 100%;
}

.dec-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil {
    width: 35%;
}

.decoracion1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    width: 100%;
    padding: 20px;
    height: 200px;
}

.letters {
    text-align: center;
}

.color-letter {
    color: #ADADAD;
    padding: 5px;
}

.color-letter2 {
    color: #FFFFFF;
    padding: 20px;
}

.letter1 {
    font-size: 25px;
}

.letter2 {
    font-size: 40px;
    flex-wrap: wrap;
}

.letter3 {
    font-size: 25px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}

.logo {
    width: 40px;
}

.decoracion {
    width: 100%;
    position: relative;
    bottom: 20px;
}

.espacio {
    padding: 20px;
}

.bg-color {
    background-color: #101111; 
    border-radius: 50%;
    padding: 20px;
}

.flex {
    overflow: hidden;
}

.alinear {
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
}

.ct {
    border: solid 1px red;
    height: 150px;
    padding: 10px;
    text-align: center;
}

.imagenes {
    width: 300px;
    margin: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.borde {
    border: solid 1px white;
    /* background-color: azure; */
    border-radius: 50%;
    width: 60px;
    height: 60px;

}

/* Desktop */

@media (min-width: 992px) {
    .letter1 {
        font-size: 50px;
    }
    .letter2 {
        font-size: 100px;
    }
    .letter3 {
        font-size: 50px;
    }
    .logo {
        width: 70px;
    }
}