/* RESET */

* {
     margin: 0;
    font-family: sans-serif;
    
}

body {
   background-color: #020304;
}

/* Menu */

header {
    width: 100%;
    background-color: #171a1d;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li :hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: #171a1d;
        width: 100%;
        margin-left: -100%;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}

/* IN.TRO */

.container {
    width: 100%;
}

.dec-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    bottom: 120px;
}

.perfil {
    width: 35%;
}

.decoracion1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    width: 90%;
    background-color: aqua;
    /* margin-top: 40px; */
}

.cont {
    height: 200px;
}

.letters {
    text-align: center;
}

.color-letter {
    color: #ADADAD;
}

.color-letter2 {
    color: #FFFFFF;
}

.letter1 {
    font-size: 25px;
}

.letter2 {
    font-size: 40px;
    flex-wrap: wrap;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    height: 50px;
}

.logo {
    width: 40px;
}

.decoracion {
    width: 100%;
    position: relative;
    bottom: 20px;
}

.espacio {
    padding: 20px;
}

.container-hbs {
    height: 200px;
    padding: 10px;
    flex-wrap: wrap;
}

.ct {
    border: solid 1px red;
    height: 150px;
    padding: 10px;
    text-align: center;
}

.imagenes {
    width: 300px;
    margin: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}